.loading-full {
  width: 100%;
  position: fixed;
  cursor: default;
  z-index: 1040;
  top: 0;
  .loader {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 1rem;
    &:before {
      content: '';
      animation: progress 5000ms infinite linear;
      position: absolute;
      top: 0;
      right: 0;
      bottom: .75rem;
      left: 0;
      transform: scaleX(0);
      background: $color-primary;
      transform-origin: 0% 50%;
    }
    .bar {
      position: absolute;
      top: 1rem;
      left: 0;
      transform: translateX(-50%);
      &:before {
        content: '';
        transform: translateY(-1rem);
        background: black;
        position: absolute;
        top: 0;
        bottom: .75rem;
        left: 49%;
        width: 1px;
      }
      &:nth-child(2) {
        left: 20%;
      }
      &:nth-child(3) {
        left: 50%;
      }
      &:nth-child(4) {
        left: 80%;
      }
      &:nth-child(5) {
        left: 100%;
      }
    }
  }
  @keyframes progress {
    100% {
      transform: scaleX(1);
    }
  }
}
