<nav class="navbar navbar-expand-md fixed-top navbar-dark bg-dark">
  <a class="navbar-brand" [routerLink]="['/dashboard']">
    <img src="./assets/img/fe.png" alt="Frontend" width="40" class="rounded-circle bg-black">
    <span>{{ 'fe' | translate }}</span>
  </a>

  <div class="collapse navbar-collapse" id="navbarsExampleDefault">
    <ul class="navbar-nav mr-auto">
      <!-- <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li> -->
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <button class="btn btn-outline-secondary my-2 my-sm-0" (click)="logout()">Logout</button>
    </form>
  </div>
</nav>
